* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     width: 100vw;
     height: 100%;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.overview div {
    text-align: center;
}

.entry-form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.entry-form input, .entry-form select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
}

.entry-form button {
    padding: 8px 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.entry-form button:hover {
    background-color: #45a049;
}
#msg{
    color: red;
    font-size: small;
 
}

.filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

ol#entriesList {
    list-style:decimal;
    gap: 20px;
   

}

ol#entriesList li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    gap: 20px;
}

ol#entriesList li button {
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}
ol#entriesList li button#edit{
    background-color: rgb(246, 246, 30);
    color: black;
}

ol#entriesList li button:hover {
    background-color: #c0392b;
}
@media (max-width:768px){
    .container {
        background-color: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
         width: 100vw;
         height: 100%;
         font-size: small;
    }
    .filters {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;

}
.entry-form {
    display: grid;
    gap: 10px;
    margin-bottom: 20px;
}
.overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: smaller;
}
}
